// minus_margin.scss

.margin-container {
  width: 660px;

  overflow: hidden;
}

.margin-row {
  margin: -20px 0 0 -20px;

  overflow: hidden;

  padding: 0;
}

//.margin-col {
//
//}

.margin-item {
  background-color: white;

  width: 320px;
  height: 130px;
  box-shadow: 2px 4px 5px 0 rgba(230,234,239,1);

  transition: box-shadow .3s;

  float: left;

  margin: 20px 0 0 20px;
}

.margin-item:hover {
  box-shadow: 4px 6px 15px 0 rgba(230,234,239,1);
}